@import './src/styles/components/searchBar';
@import './src/styles/components/resultsContainer';

/* ---- reset ---- */

html {
  box-sizing: border-box;
  height: 100vh;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color:#F0F0F0;
}

h1, h2, h3, h4, h5, p {
  margin: 2px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-content: center;

  background-color: white;
  box-shadow: 10px 10px 5px 0px rgba(77, 77, 77, 0.431);

  width: 30vw;
  max-height: 50vw;
  margin: 100px auto;
  padding: 20px;
  border-radius: 15px;
}
